/*Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

:focus {
  outline: 0; }

/*End Reset*/
/*Body*/
body {
  margin: auto;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  background: url(./images/masterpage.jpg); }

/*Header*/
.header img {
  float: left;
  width: 150px;
  height: 100px; }
.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
  color: black; }

/*Login form*/
.loginform {
  float: right;
  font-family: "Lobster", cursive; }

.logout {
  float: right;
  font-family: "Lobster", cursive; }

/*Login form*/
/*End header*/
/*Section*/
section {
  float: left;
  width: 900px; }
  section.details-info {
    float: left;
    width: 70%;
    list-style-type: none;
    display: table-cell; }
    section.details-info li {
      list-style-type: none; }
  section.section-dress {
    float: left;
    width: 65%;
    /*height: 650px;*/
    width: 65%;
    padding-left: 10%; }
  section.content {
    align-content: center;
    text-align: center;
    float: left;
    width: 70%;
    /*padding-bottom: 30%;*/ }
  section.new-products {
    float: left;
    width: 70%;
    height: auto; }

table.details-table {
  margin-top: 25px;
  text-transform: center;
  margin-left: 15%;
  font-family: "Lobster", cursive;
  align-content: center; }

form.action_page, table.details-table {
  border: 5px solid transparent;
  padding: 15px;
  -webkit-border-image: url(../img/border.jpg) 30 round;
  /* Safari 3.1-5 */
  -o-border-image: url(../img/border.jpg) 30 round;
  /* Opera 11-12.1 */
  border-image: url(../img/border.jpg) 30 round; }

/*End Section*/
/*Article*/
article {
  float: left;
  width: 350px;
  height: 450px; }

.article {
  margin-left: 100px;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-right: 20px; }

.article.info-details {
  border: 5px solid transparent;
  padding: 15px;
  -webkit-border-image: url(../img/border.jpg) 30 round;
  /* Safari 3.1-5 */
  -o-border-image: url(../img/border.jpg) 30 round;
  /* Opera 11-12.1 */
  border-image: url(../img/border.jpg) 30 round;
  font-family: "Lobster", cursive;
  font-size: 20px;
  padding-left: 11%;
  padding-bottom: 40px;
  margin-left: 39%;
  margin-bottom: 30px; }

.article.article-images {
  float: left;
  width: 350px;
  height: 450px;
  list-style: none; }

.article.article-images img {
  width: 300px;
  height: 270px;
  /*padding-top: 50px;
  padding-left: 50px;*/
  list-style: none; }

article table {
  width: 250px;
  height: 150px;
  margin-top: 280px; }

article img {
  width: 300px;
  height: 300px;
  /*padding-top: 50px;
  padding-left: 50px;*/ }

.main-image {
  width: 900px;
  height: 450px;
  /*padding-left: 50px;*/
  align-content: center; }

.main-image img {
  width: 590px;
  height: 395px;
  padding-top: 1%; }

.article-dress-info {
  border: 10px solid transparent;
  padding: 15px;
  -webkit-border-image: url(../img/border.jpg) 30 round;
  /* Safari 3.1-5 */
  -o-border-image: url(../img/border.jpg) 30 round;
  /* Opera 11-12.1 */
  border-image: url(../img/border.jpg) 30 round;
  font-family: "Lobster", cursive;
  margin-left: 29%;
  margin-bottom: 10%; }

/*Registration Form*/
#registration-form {
  font-size: 20px;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: "Lobster", cursive;
  border: 10px solid transparent;
  padding: 15px;
  -webkit-border-image: url(../img/border.jpg) 30 round;
  /* Safari 3.1-5 */
  -o-border-image: url(../img/border.jpg) 30 round;
  /* Opera 11-12.1 */
  border-image: url(../img/border.jpg) 30 round;
  width: 40%;
  align-content: center;
  margin-left: 9%;
  margin-bottom: 10%;
  margin-top: 3.5%; }

/*Registration Form*/
/*End article*/
.clear {
  clear: both; }

.about-img {
  width: 550px;
  height: 450px; }

/*New Label*/
.fishes {
  position: absolute;
  top: 0;
  left: 0; }

.fish {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 1px; }

/* Horizontal Navigation bar */
#nav-trigger {
  display: none; }

.nav-trigger {
  display: none; }

nav.hbar {
  padding-top: 50px;
  display: block; }

a.nav_hbar {
  list-style-type: none;
  overflow: hidden;
  z-index: 2;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
  font-size: 1.3em;
  font-family: "Lobster", cursive;
  font-weight: bold;
  /*width: 100px;*/
  height: 100%;
  margin-bottom: 18px;
  /*background-color:  #00b359;*/ }

.nav_hbar li {
  float: left;
  text-align: center;
  padding-right: 50px;
  padding-left: 50px; }

nav li a:hover {
  /*width:100px;*/ }

nav.hbar ul {
  list-style-type: none;
  margin-top: 20px;
  margin-left: 0px;
  width: 1100px;
  padding: 0;
  overflow: hidden;
  border: 10px solid transparent;
  -webkit-border-image: url(../img/border.jpg) 30 round;
  /* Safari 3.1-5 */
  -o-border-image: url(../img/border.jpg) 30 round;
  /* Opera 11-12.1 */
  border-image: url(../img/border.jpg) 30 round; }

.hbar li {
  float: left;
  padding-right: 20px;
  padding-top: 0px;
  text-align: center; }

nav li a {
  display: block;
  color: black;
  padding: 12px 0 12px 16px;
  text-decoration: none;
  margin: 0;
  text-align: center;
  font-size: 1.3em;
  font-style: oblique;
  font-weight: bold; }

li a, .dropbtn {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; }

li a:hover, .dropdown:hover .dropbtn {
  /*  background-color: #4AE371;*/ }

nav.hbar li:hover {
  /*padding: 15px;*/
  -webkit-border-image: url(../img/border.jpg) 30 round;
  /* Safari 3.1-5 */
  -o-border-image: url(../img/border.jpg) 30 round;
  /* Opera 11-12.1 */
  background: url(../img/border.jpg) 30 round;
  width: 150px;
  height: 50%;
  padding: 0px !important;
  margin: 0px !important; }

li.dropdown {
  display: inline-block; }

.dropdown-content {
  display: none;
  position: absolute;
  width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); }

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center; }

.dropdown-content a:hover {
  border: 10px solid transparent;
  -webkit-border-image: url(../img/border.jpg) 30 round;
  /* Safari 3.1-5 */
  -o-border-image: url(../img/border.jpg) 30 round;
  /* Opera 11-12.1 */
  border-image: url(../img/border.jpg) 30 round; }

.dropdown:hover .dropdown-content {
  display: block;
  -webkit-border-image: url(../img/border.jpg) 30 round;
  /* Safari 3.1-5 */
  -o-border-image: url(../img/border.jpg) 30 round;
  /* Opera 11-12.1 */
  background: url(../img/border.jpg) 30 round;
  font-family: "Lobster", cursive; }

/*Search position*/
nav li a:last-child {
  display: block;
  color: #000000;
  margin: 14px;
  text-align: left;
  padding: 14px 16px;
  padding-top: 0px;
  padding-bottom: 15px; }

nav > ul > li.dropdown > div > a:nth-child(3) {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center; }

li.search {
  display: inline-block;
  float: right;
  margin: 15px; }

/*End search*/
/*Aside*/
aside {
  float: left;
  width: 24%;
  padding-top: 5.5%; }

/* Vertical Navigation Bar*/
ul.nav_bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  border: 10px solid transparent;
  -webkit-border-image: url(../img/border.jpg) 30 round;
  /* Safari 3.1-5 */
  -o-border-image: url(../img/border.jpg) 30 round;
  /* Opera 11-12.1 */
  border-image: url(../img/border.jpg) 30 round;
  font-family: "Lobster", cursive;
  /*background-color: #00b359;*/
  /*border:1px solid #000000;*/ }

/*.nav_bar li {
    float: none;
    /*border:1px solid #000000;
    }*/
li.nav_bar {
  float: left;
  padding-right: 0px;
  padding-left: 0px; }

.nav_bar li a:hover {
  padding-right: 100px;
  -webkit-border-image: url(../img/border.jpg) 30 round;
  /* Safari 3.1-5 */
  -o-border-image: url(../img/border.jpg) 30 round;
  /* Opera 11-12.1 */
  background: url(../img/border.jpg) 30 round;
  width: 82px; }

/*End Vertical Navigation Bar*/
/*End Aside*/
/*Horizontal navigation bar position*/
.products {
  float: left;
  width: 1000px;
  padding-left: 100px;
  padding-bottom: 100px;
  padding-top: 50px; }

.products img {
  width: 200px;
  height: 300px; }

div.position-img {
  position: relative;
  left: 0;
  top: 0;
  list-style: none; }

.picture {
  display: inline-block;
  color: black;
  text-align: center;
  text-decoration: none; }

.contact {
  padding-top: 50px;
  padding-right: 100px;
  padding-left: 250px;
  padding-bottom: 50px;
  font-size: 20px;
  text-align: center;
  border: 10px solid transparent;
  padding: 15px;
  -webkit-border-image: url(../img/border.jpg) 30 round;
  /* Safari 3.1-5 */
  -o-border-image: url(../img/border.jpg) 30 round;
  /* Opera 11-12.1 */
  border-image: url(../img/border.jpg) 30 round; }

article.contact {
  text-align: center;
  margin-left: 150px;
  margin-bottom: 100px;
  padding-bottom: 1px;
  margin-top: 40px; }

/* Navigation Menu - Background */
.navigation {
  /* critical sizing and position styles */
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  /* non-critical appearance styles */
  list-style: none;
  background: #CCC;
  display: none; }

/* Navigation Menu - List items */
/* Hover effect*/
#wrapper {
  width: 995px;
  padding: 0px;
  margin: 0px auto;
  font-family: helvetica;
  text-align: center;
  padding-left: 100px;
  padding-bottom: 100px;
  padding-top: 50px;
  padding-right: 0px;
  width: 800px; }

#wrapper-products {
  font-family: helvetica;
  padding-bottom: 200px;
  padding-top: 50px;
  text-align: center;
  width: 76%;
  /*padding-left: 100px;*/ }

h1 {
  text-align: center;
  font-size: 35px;
  color: #A9BCF5;
  padding-top: 10px;
  /*padding-left: 600px; */
  color: black;
  font-family: "Lobster", cursive; }

h1 p {
  text-align: center;
  margin: 0px;
  font-size: 18px;
  text-decoration: underline;
  color: grey; }

h2 {
  font-style: oblique;
  font-family: "Lobster", cursive; }

h3 {
  margin: 0;
  text-align: center;
  font-size: 1.3em;
  font-style: oblique;
  font-weight: bold; }

h4 {
  text-align: center;
  color: #000;
  font-family: "Lobster", cursive;
  font-size: 16px;
  font-weight: bold; }

article.item {
  overflow: hidden;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  width: 250px;
  height: 220px;
  margin-right: 10px;
  border: 3px solid transparent;
  -webkit-border-image: url(../img/border.jpg) 30 round;
  /* Safari 3.1-5 */
  -o-border-image: url(../img/border.jpg) 30 round;
  /* Opera 11-12.1 */
  border-image: url(../img/border.jpg) 30 round;
  margin-top: 1%; }

.item img {
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 250px;
  height: 220px; }

.item:hover img {
  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  border: 1em solid transparent;
  padding: 1px;
  border-image: url("./images/border.bmp") 35 stretch; }

/*End hover effect*/
/*Efect over Images*/
.view-eighth figure .mask {
  top: -200px;
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: all 0.3s ease-out 0.5s;
  -moz-transition: all 0.3s ease-out 0.5s;
  -o-transition: all 0.3s ease-out 0.5s;
  -ms-transition: all 0.3s ease-out 0.5s;
  transition: all 0.3s ease-out 0.5s; }

li.view.view-eighth {
  list-style: none; }

.view-eighth:hover .mask {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  top: 10px;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-animation: bounceY 0.9s linear;
  -moz-animation: bounceY 0.9s linear;
  -ms-animation: bounceY 0.9s linear;
  animation: bounceY 0.9s linear; }

@keyframes bounceY {
  0% {
    transform: translateY(-205px); }
  40% {
    transform: translateY(-100px); }
  65% {
    transform: translateY(-52px); }
  82% {
    transform: translateY(-25px); }
  92% {
    transform: translateY(-12px); }
  55%, 75%, 87%, 97%, 100% {
    transform: translateY(0px); } }
@-moz-keyframes bounceY {
  0% {
    -moz-transform: translateY(-205px); }
  40% {
    -moz-transform: translateY(-100px); }
  65% {
    -moz-transform: translateY(-52px); }
  82% {
    -moz-transform: translateY(-25px); }
  92% {
    -moz-transform: translateY(-12px); }
  55%, 75%, 87%, 97%, 100% {
    -moz-transform: translateY(0px); } }
@-webkit-keyframes bounceY {
  0% {
    -webkit-transform: translateY(-205px); }
  40% {
    -webkit-transform: translateY(-100px); }
  65% {
    -webkit-transform: translateY(-52px); }
  82% {
    -webkit-transform: translateY(-25px); }
  92% {
    -webkit-transform: translateY(-12px); }
  55%, 75%, 87%, 97%, 100% {
    -webkit-transform: translateY(0px); } }
/*Magnifier*/
* {
  margin: 0;
  padding: 0; }

.magnify {
  width: 500px;
  margin: 50px auto;
  position: relative;
  /*margin-left: 34%;*/ }

/*Lets create the magnifying glass*/
.large {
  width: 250px;
  height: 250px;
  position: absolute;
  border-radius: 100%;
  /*Multiple box shadows to achieve the glass effect*/
  box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
  /*Lets load up the large image first*/
  background: url("./images/img1.jpg") no-repeat;
  /*hide the glass by default*/
  display: none; }

/*To solve overlap bug at the edges during magnification*/
.small {
  display: block;
  width: 500px;
  margin-left: 9%; }

/*End of Magnifier*/
/*Multiple Columns*/
#main_index_info {
  -webkit-column-count: 3;
  /* Chrome, Safari, Opera */
  -moz-column-count: 3;
  /* Firefox */
  column-count: 3;
  -webkit-column-gap: 20px;
  /* Chrome, Safari, Opera */
  -moz-column-gap: 20px;
  /* Firefox */
  column-gap: 20px;
  -webkit-column-rule: 2px solid #33CC66;
  /* Chrome, Safari, Opera */
  -moz-column-rule: 2px solid #33CC66;
  /* Firefox */
  column-rule: 2px solid #33CC66;
  width: 600px;
  height: auto;
  /* padding-left: 50px; */
  text-align: center;
  padding-left: 20%; }

article#main_index_info h4 {
  -webkit-column-span: all;
  /* Chrome, Safari, Opera */
  column-span: all;
  font-family: "Lobster", cursive;
  margin-top: 10px; }
article#main_index_info h3 {
  -webkit-column-span: all;
  /* Chrome, Safari, Opera */
  column-span: all;
  font-family: "Lobster", cursive;
  -webkit-border-image: url(../img/border.jpg) 30 round;
  /* Safari 3.1-5 */
  -o-border-image: url(../img/border.jpg) 30 round;
  /* Opera 11-12.1 */
  background: url(../img/border.jpg) 30 round; }

/* End Multiple Columns*/
/*flex box*/
* {
  margin: 0;
  padding: 0; }

/*body {*/
/*padding: 10px;*/
/*}*/
section.box {
  float: left;
  /*width: 750px;*/
  /*height: 450px;*/
  align-content: center;
  text-align: center;
  /* padding-left: 30%;*/
  padding-left: 5.5%;
  width: 60%;
  margin-bottom: 30%; }

/*section.content {*/
/*align-content: center;*/
/*text-align: center;*/
/*float: right;*/
/*width: 70%;*/
/*}*/
#box-wrap {
  display: flex;
  width: 42vw;
  height: auto;
  box-sizing: border-box;
  padding-top: 9%;
  flex-wrap: wrap; }

/* Added */
.box-item1 {
  width: 48%;
  height: 15.5vw;
  /* Modified */
  margin-bottom: 10px;
  margin-right: 10px; }

div.box-item1 img {
  width: 100%; }

.box-item2 {
  width: 48%;
  height: 15.5vw;
  /* Modified */
  margin-left: 10px;
  margin-bottom: 10px; }

div.box-item2 img {
  width: 100%; }

/*.item1 {*/
/*margin-right: 10px;*/
/*}*/
/*.item2 {*/
/*margin-left: 10px;*/
/*}*/
.box-item3 {
  width: 55%;
  height: 30vw;
  background-size: 125%;
  margin-right: 10px; }

div.box-item3 img {
  width: 100%;
  height: 90%; }

.box-nested-items {
  display: flex;
  width: 42%;
  flex-wrap: wrap;
  align-content: space-between; }

.box-item4 {
  width: 100%;
  height: 43%;
  background-size: 95%; }

div.box-item4 img {
  width: 100%; }

.box-item5 {
  width: 100%;
  height: 49%;
  background-size: 95%; }

div.box-item5 img {
  width: 100%;
  height: 225px; }

/*End Flex Box*/
/*End body*/
/*Footer*/
#footer {
  bottom: 0px;
  width: 100%;
  height: 60px;
  clear: both;
  padding-top: 10px;
  border-top: 1px solid #000;
  text-align: center;
  margin-top: 10%; }

div.content p {
  font-size: 1em;
  text-align: center;
  align-content: center; }

nav.content {
  text-align: center;
  float: right;
  width: 10%; }

/*End footer/
/*Hack*/
@-moz-document url-prefix() {
  body {
    background: pink; } }
/*End Hack*/
/* TABLETS */
@media only screen and (max-width: 1024px) {
  body {
    font-size: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 94%;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    line-height: 150%; }

  body > aside {
    display: none; }

  /*Header*/
  img {
    max-width: 100%; }

  .header img {
    float: left;
    width: 15%;
    height: 15%;
    margin-left: 30px; }

  .header h1 {
    position: relative;
    margin-top: 20%; }

  /*Login form*/
  .loginform {
    float: right;
    font-family: 'Lobster', cursive;
    display: none; }

  .logout {
    float: right;
    font-family: 'Lobster', cursive;
    display: none; }

  /*Login form*/
  /*End header*/
  /*Section*/
  section {
    padding-left: 10%;
    padding-top: 70px; }

  section.content {
    text-align: center;
    float: right;
    width: 80%; }

  .section-dress {
    float: left;
    width: 65%;
    /*height: 650px;*/
    padding-left: 26% !important; }

  /*End Section*/
  /*Article*/
  article {
    float: left;
    width: 350px;
    /*height: 450px;*/ }

  .article {
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 20px; }

  .article-images img {
    height: 300px;
    width: 270px;
    /*padding-top: 50px;
    padding-left: 50px;*/ }

  article table {
    width: 250px;
    height: 150px;
    margin-top: 280px; }

  article img {
    /*height: 400px;*/
    width: 600px;
    /*padding-top: 50px;
    padding-left: 50px;*/ }

  article.main-image img {
    height: 350px;
    width: 450px;
    padding-top: 1%; }

  article.main-image {
    width: 100%;
    height: 381px;
    align-content: center;
    padding-right: 27%; }

  /*End article*/
  .clear {
    clear: both; }

  .about-img {
    width: 550px;
    /*height: 450px; */ }

  #main_index_info {
    width: 75%;
    padding-left: 50px;
    text-align: center;
    padding-bottom: 20px; }

  /*New Label*/
  .fishes {
    position: absolute;
    top: 0;
    left: 0; }

  .fish {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 1px; }

  /*Registration Form*/
  #registration-form {
    margin-left: 35%; }

  /*Registration Form*/
  /* Horizontal Navigation bar */
  nav.hbar {
    width: 100%;
    display: none; }

  nav.hbar ul {
    list-style-type: none;
    margin-top: 150px;
    margin-left: 0px;
    width: 30%;
    padding-top: 20px;
    align-content: center;
    overflow: hidden;
    border: 10px solid transparent;
    -webkit-border-image: url(../img/border.jpg) 30 round;
    /* Safari 3.1-5 */
    -o-border-image: url(../img/border.jpg) 30 round;
    /* Opera 11-12.1 */
    border-image: url(../img/border.jpg) 30 round; }

  /*Search position*/
  nav li a:last-child {
    display: block;
    color: #000000;
    margin: 8px;
    text-align: left;
    padding: 14px 16px;
    padding-top: 0px;
    padding-bottom: 15px; }

  li.search {
    display: inline-block;
    float: right;
    margin: 15px; }

  li a:hover {
    padding-right: 100px;
    /* background-color: #4AE371;*/ }

  /*End search*/
  /*Aside*/
  aside {
    float: left;
    width: 200px;
    padding-top: 5%;
    display: none; }

  /* Vertical Navigation Bar*/
  ul.nav_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    border: 10px solid transparent;
    -webkit-border-image: url(../img/border.jpg) 30 round;
    /* Safari 3.1-5 */
    -o-border-image: url(../img/border.jpg) 30 round;
    /* Opera 11-12.1 */
    border-image: url(../img/border.jpg) 30 round;
    font-family: 'Lobster', cursive;
    /*background-color: #00b359;*/
    /*border:1px solid #000000;*/ }

  /*.nav_bar li {
      float: none;
      /*border:1px solid #000000;
      }*/
  li.nav_bar {
    float: left;
    padding-right: 0px;
    padding-left: 0px; }

  .nav_bar li a:hover {
    -webkit-border-image: url(../img/border.jpg) 30 round;
    /* Safari 3.1-5 */
    -o-border-image: url(../img/border.jpg) 30 round;
    /* Opera 11-12.1 */
    background: url(../img/border.jpg) 30 round;
    width: 82px; }

  /*End Vertical Navigation Bar*/
  /*End Aside*/
  /*Horizontal navigation bar position*/
  .products {
    float: left;
    width: 90%;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-top: 50px; }

  .products img {
    height: 200px;
    width: 300px; }

  div.position-img {
    position: relative;
    left: 0;
    top: 0;
    list-style: none;
    margin-left: 42%; }

  .picture {
    display: inline-block;
    color: black;
    text-align: center;
    text-decoration: none; }

  .contact {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 100px;
    padding-left: 250px;
    font-size: 20px;
    text-align: center;
    border: 10px solid transparent;
    padding: 15px;
    -webkit-border-image: url(../img/border.jpg) 30 round;
    /* Safari 3.1-5 */
    -o-border-image: url(../img/border.jpg) 30 round;
    /* Opera 11-12.1 */
    border-image: url(../img/border.jpg) 30 round; }

  article.contact {
    text-align: center;
    margin-left: 40%;
    margin-bottom: 100px;
    padding-bottom: 1px;
    margin-top: 40px; }

  article.item {
    margin-bottom: 15px; }

  section.box {
    float: left;
    display: block;
    /*width: 750px;*/
    /*height: 450px;*/
    align-content: center;
    text-align: center;
    padding-left: 30%;
    padding-left: 20%;
    width: 60%;
    margin-bottom: 20%; }

  .wrapper {
    position: relative;
    max-width: 840px;
    width: 100%;
    padding: 0 50px;
    margin: 0 auto;
    margin-left: 15%; }

  #wrapper-products {
    padding: 0px;
    margin: 0px auto;
    font-family: helvetica;
    padding-bottom: 100px;
    padding-right: 26%;
    text-align: center;
    width: 1%;
    margin-bottom: 19%;
    padding-top: 5%;
    margin-left: 43%;
    /* padding-left: 38%; */ }

  h2 {
    font-size: 16px;
    font-style: oblique;
    font-family: 'Lobster', cursive; }

  /*End body*/
  /*Footer*/
  #footer {
    bottom: 0px;
    width: 100%;
    /*height:60px;*/
    clear: both;
    padding-top: 10px;
    border-top: 1px solid #000;
    text-align: center;
    margin-top: 10%; }

  div.content p {
    font-size: 1em;
    text-align: center;
    font-family: 'Lobster', cursive;
    align-content: center; }

  nav.content {
    text-align: center;
    float: right;
    width: 10%; }

  /*End footer/
  }
  /* Navigation Menu - Background */
  /* Navigation Menu - List items */
  .nav-item {
    /* non-critical appearance styles */
    width: 200px;
    border-top: 1px solid #111;
    border-bottom: 1px solid #000; }

  .nav-item a {
    /* non-critical appearance styles */
    display: block;
    padding: 1em;
    background: linear-gradient(135deg, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    transition: color 0.2s, background 0.5s; }

  .nav-item a:hover {
    color: #4AE371;
    background: linear-gradient(135deg, transparent 0%, rgba(75, 20, 20, 0.65) 100%); }

  .magnify {
    width: 500px;
    margin: 50px auto;
    position: relative;
    /* margin-left: 34%; */ }

  table.details-table {
    border: 5px solid transparent;
    padding: 15px;
    -webkit-border-image: url(../img/border.jpg) 30 round;
    -o-border-image: url(../img/border.jpg) 30 round;
    border-image: url(../img/border.jpg) 30 round;
    margin-top: 25px;
    text-transform: center;
    margin-left: 8%; }

  article.article-dress-info {
    height: 500px;
    border: 10px solid transparent;
    padding: 15px;
    -webkit-border-image: url(../img/border.jpg) 30 round;
    -o-border-image: url(../img/border.jpg) 30 round;
    border-image: url(../img/border.jpg) 30 round;
    margin-left: 35%;
    font-family: 'Lobster', cursive;
    margin-bottom: 9%; }

  /*Hamburger*/
  .navigation {
    /* critical sizing and position styles */
    width: 96%;
    height: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    /* non-critical appearance styles */
    list-style: none;
    /*background: #CCC;*/
    display: block; }

  /* Site Wrapper - Everything that isn't navigation */
  .site-wrap {
    /* Critical position and size styles */
    min-height: 100%;
    min-width: 100%;
    /*background-color: white; /* Needs a background or else the nav will show through */
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    /* non-critical apperance styles */
    background: url(./images/masterpage.jpg);
    background-size: 200%; }

  /* Nav Trigger */
  .nav-trigger {
    /* critical styles - hide the checkbox input */
    position: absolute;
    clip: rect(0, 0, 0, 0); }

  label[for="nav-trigger"] {
    /* critical positioning styles */
    position: fixed;
    left: 15px;
    top: 15px;
    margin-top: 13%;
    z-index: 2;
    /* non-critical apperance styles */
    height: 30px;
    width: 30px;
    cursor: pointer;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
    background-size: contain; }

  /* Make the Magic Happen */
  .nav-trigger + label, .site-wrap {
    transition: left 0.2s; }

  .nav-trigger:checked + label {
    left: 215px; }

  .nav-trigger:checked ~ .site-wrap {
    left: 200px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5); }

  body {
    /* Without this, the body has excess horizontal scroll when the menu is open */
    overflow-x: hidden; }

  /*End Hamburger*/
  /* Additional non-critical styles */
  h1, h3, p {
    max-width: 1000px; }

  code {
    padding: 2px;
    background: #ddd; }

  /* Micro reset */
  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0; }

  html, body {
    height: 100%;
    width: 100%;
    font-family: Helvetica, Arial, sans-serif; }

  section.content {
    width: 95%; }

  .hbar {
    display: none; }

  /*The position property - flexbox*/
  #box-wrap {
    display: flex;
    width: 63vw;
    height: auto;
    box-sizing: border-box;
    padding-top: 9%;
    flex-wrap: wrap;
    /* margin-left: 36%; */ }

  #box-wrap > div {
    float: left;
    width: 48% !important;
    /*width: 500px;*/
    margin-right: 4% !important;
    margin-left: 0 !important;
    height: auto;
    /*max-height: 102px ;*/
    /*overflow: hidden;*/ }

  #box-wrap > div:nth-child(even) {
    margin-right: 0 !important; }

  div.box-item3 img {
    width: 100%;
    height: 500px;
    padding-bottom: 2%;
    padding-top: 10%; }

  .box-item4 {
    width: 100%;
    /*height: 0 !important;*/
    /* background-size: 95%;*/
    padding-top: 10%;
    /*height: 66%;*/ }

  div.box-item5 > img {
    width: 100%;
    /* height: 158px;*/
    padding-bottom: 6%;
    /*padding-top: 63%;*/ }

  .box-item5 {
    width: 100%;
    height: 49%;
    background-size: 95%; }

  /*End The position property - flexbox*/ }
/* END TABLETS */
/* PHONES */
@media only screen and (max-width: 480px) {
  /*Registration position*/
  #registration-form {
    margin-left: 15%;
    width: 72%; }

  /*End Registration position*/
  /*Logo possition*/
  .header img {
    width: 28%;
    height: 27%;
    margin-left: 34%; }

  /*End logo position*/
  /*Hamburger Img position*/
  label[for="nav-trigger"] {
    margin-top: 2%; }

  /*End Hamburger Img position*/
  h1 {
    padding-top: 16px;
    padding: 6%; }

  /*Image size*/
  article.main-image img {
    height: 2;
    width: 100%;
    height: 200px; }

  /*End Image size*/
  article.main-image {
    width: 100%;
    height: auto;
    align-content: center;
    padding-right: 10%; }

  #main_index_info {
    width: 95%;
    padding-left: 0px;
    text-align: center;
    /* padding-bottom: 20px; */ }

  #wrapper-products {
    margin-left: 15%; }

  div.position-img {
    position: relative;
    left: 0;
    top: 0;
    list-style: none;
    margin-left: -10%; }

  section.box {
    width: 100%;
    padding: 10%;
    box-sizing: border-box;
    margin-bottom: 44%; }

  #box-wrap {
    width: 100%; }

  /*The position property - flexbox*/
  #box-wrap > div {
    float: left;
    width: 48% !important;
    margin-right: 4% !important;
    margin-left: 0 !important;
    height: auto;
    max-height: 102px;
    /*overflow: hidden;*/ }

  #box-wrap > div:nth-child(even) {
    margin-right: 0 !important; }

  div.box-item3 img {
    width: 100%;
    height: 280px;
    padding-bottom: 2%;
    padding-top: 10%; }

  .box-item4 {
    width: 100%;
    height: 0 !important;
    background-size: 95%;
    padding-top: 10%; }

  div.box-item5 img {
    width: 100%;
    height: 230px;
    padding-bottom: 2%;
    padding-top: 63%; }

  .box-item5 {
    width: 100%;
    height: 49%;
    background-size: 95%; }

  /*End The position property - flexbox*/
  /*New products- size*/
  section.new-products {
    float: left;
    width: 60%;
    height: auto; }

  /*End New products- size*/
  section.new-products {
    width: 83%;
    height: auto;
    padding-right: 5%;
    padding: 0px; }

  article.article-dress-info {
    width: 278px !important;
    height: 500px;
    border: 5px solid transparent;
    padding: 5px;
    -webkit-border-image: url(../img/border.jpg) 30 round;
    -o-border-image: url(../img/border.jpg) 30 round;
    border-image: url(../img/border.jpg) 30 round;
    /*margin-left: 35%;*/
    font-family: 'Lobster', cursive;
    margin-bottom: 9%;
    margin: 3px; }

  .small {
    display: block;
    width: 250px !important;
    margin: 0px; }

  .magnify {
    width: 280px;
    /* margin: 50px auto; */
    position: relative;
    /* margin-left: 34%; */ }

  table.details-table {
    width: 225px;
    height: 150px;
    border: 5px solid transparent;
    padding: 15px;
    -webkit-border-image: url(../img/border.jpg) 30 round;
    -o-border-image: url(../img/border.jpg) 30 round;
    border-image: url(../img/border.jpg) 30 round;
    margin-top: 25px;
    text-transform: center;
    margin-left: 8%; }

  .site-wrap {
    min-height: 100%;
    width: 98%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background: url(./images/masterpage.jpg);
    background-size: 200%; }

  article.contact {
    text-align: center;
    margin-left: 5%;
    margin-bottom: 100px;
    padding-bottom: 1px;
    margin-top: 40px;
    width: 320px;
    padding-right: 5px; }

  .article-images {
    width: 215px;
    height: 280px;
    margin-right: 10%;
    margin-bottom: 26%; }

  .article-images img {
    height: 300px;
    width: 232px;
    /*padding-top: 50px;
    padding-left: 50px;*/ }

  .section-dress {
    float: left;
    width: 100% !important;
    padding-left: 26% !important; } }
/* END PHONES */

/*# sourceMappingURL=style.css.map */
