html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
:focus {
    outline: 0;
}

body {
   margin: auto;
   width: 1100px;
    margin-left: auto;
    margin-right: auto;
    background: url(./images/masterpage.jpg); 
}

.header img {
  float: left;
  width: 150px;
  height: 100px;
  background: #555;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}

aside {
   float: left;
   width: 200px;
    padding-top: 5%;
}
section{
    float:left;
    width: 750px;
    padding-left: 100px;
    padding-top: 70px;
   
} 
.content {
   float: right;
   width: 70%;
}
.content p{
  font-size: 1em;
  text-align: center;
}


.clear {
   clear: both;
}

.main-image{
  width:550px;
  height: 450px;
}
#main_index_info{
  width:500px;
  height: 450px;
  padding-left: 50px;
}
/*New Label*/
.fishes { 
  position: absolute; top: 0; left: 0; 
  } 
  .fish {
    position: absolute;
     top: 0px; 
     right: 0px;
     left: 1px;
     }
   /* Horizontal Navigation bar */
.hbar{
    padding-top: 50px;
}
.nav_hbar {
  list-style-type: none;
  overflow: hidden;
  z-index: 2;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
  font-size: 1.3em;
  font-style: oblique;
  font-weight: bold;
  width: 100px;
  height:100%;
/*background-color:  #00b359;*/
}
.nav_hbar li{
float:left;
text-align: center;
padding-right: 50px;
padding-left: 50px;

}
nav li a:hover{
   width:100px;

}

.nav_bar li a:hover{
  width:82px;
}
nav ul {
    list-style-type: none;
    margin-top: 20px;
    margin-left: 0px;
    width: 1100px;
    padding: 0;
    overflow: hidden;
    background-color: #00b359;
}
li.nav_bar {
     float: left;
    padding-right: 0px;
    padding-left: 0px;
}
.hbar li {
    float: left;
    padding-right: 20px;
    padding-top: 0px;
    text-align: center;
}
nav li a {
    display: block;
    color: #000;
    padding: 12px 0 12px 16px;
    text-decoration: none;
    margin: 0;
    text-align: center;
    font-size: 1.3em;
    font-style: oblique;
    font-weight: bold;
}
li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  /*  background-color: #4AE371;*/
}

.hbar li a:hover {
  background-color: #4AE371;
}

.nav_bar li a:hover {
  background-color: #4AE371;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #4AE371 ;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #33CC66 }

.dropdown:hover .dropdown-content {
    display: block;
    background-color: #33CC66
}

/*Search position*/
nav li a: last-child {
    display: block;
    color: #000000;
    margin:8px;
    text-align: left;
    padding: 14px 16px;
    padding-top: 0px;
    padding-bottom: 15px;
    
}
li.search{
   display: inline-block;
   float: right;
   margin: 15px;
}

li a:hover {
    padding-right: 100px;
   /* background-color: #4AE371;*/
}

   /* Vertical Navigation Bar*/

 ul.nav_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #00b359;
    border:1px solid #000000;
}

.nav_bar li {
   float: none;
   border:1px solid #000000;
  }
/*Horizontal navigation bar position*/

.products{
float: left;
width: 1000px;
padding-bottom: 100px;
padding-left: 100px;
padding-top: 50px;
}

.products img{
    height: 200px;
    width: 300px;
}

#footer{

bottom:0px;
width:100%;
height:60px;   
clear: both;
padding-top: 10px;
border-top: 1px solid #000;
text-align: center;
}

h3 {
    margin: 0;
    text-align: center;
    font-size: 1.3em;
    font-style: oblique;
    font-weight: bold;
}
.article {
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 20px;
}
.article-images img{
  height: 300px;
  width: 270px;
  /*padding-top: 50px;
  padding-left: 50px;*/
}
.picture{
   display: inline-block;
    color: black;
    text-align: center;
    text-decoration: none;
}

article {
    float:left;
    width: 350px;
    height: 450px;
}
 article table {
    width: 250px;
    height: 150px;
    margin-top: 280px;

}
article img{
    height: 400px;
    width: 500px;
    /*padding-top: 50px;
    padding-left: 50px;*/
}
.contact{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 100px;
    padding-left: 250px;
    font-size: 20px;
    text-align: center;
}

.loginform{
    float: right;
}
.logout{
     float: right;
}
#registration-form{
    font-size: 20px;
    text-align: center;
    border:1px solid #000000;
    padding-bottom: 10px;
    padding-top: 10px;
}
/* Hover effect*/

#wrapper
{
  width:995px;
  padding:0px;
  margin:0px auto;
  font-family:helvetica;
  text-align:center;
  padding-bottom: 100px;
    padding-top: 50px;
    padding-right: 0px;
    text-align: center;
    width: 800px;
    padding-left: 100px;
}
h1
{
  text-align:center;
  font-size:35px;
  /*margin-top:60px;*/
  color:#A9BCF5;
  padding-top: 20px;
}
h1 p
{
  text-align:center;
  margin:0px;
  font-size:18px;
  text-decoration:underline;
  color:grey;
}

.item 
{
  
  overflow: hidden;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  width:250px;
  height:220px;
 margin-right: 10px;
  border:1px solid #000000;
}
.item img 
{
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width:250px;
  height:220px;
}
.item:hover img 
{
  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
/*Efect over Images*/
.view-eighth figure .mask {
              
               top: -200px;
               -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
               filter: alpha(opacity=0);
               opacity: 0;
               -webkit-transition: all 0.3s ease-out 0.5s;
               -moz-transition: all 0.3s ease-out 0.5s;
               -o-transition: all 0.3s ease-out 0.5s;
               -ms-transition: all 0.3s ease-out 0.5s;
               transition: all 0.3s ease-out 0.5s;
}
.view-eighth:hover .mask {
               -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
               filter: alpha(opacity=100);
               opacity: 1;
               top: 10px;
               -webkit-transition-delay: 0s;
               -moz-transition-delay: 0s;
               -o-transition-delay: 0s;
               -ms-transition-delay: 0s;
               transition-delay: 0s;
               -webkit-animation: bounceY 0.9s linear;
               -moz-animation: bounceY 0.9s linear;
               -ms-animation: bounceY 0.9s linear;
               animation: bounceY 0.9s linear;
}
@keyframes bounceY {
               0% { transform: translateY(-205px);}
               40% { transform: translateY(-100px);}
               65% { transform: translateY(-52px);}
               82% { transform: translateY(-25px);}
               92% { transform: translateY(-12px);}
               55%, 75%, 87%, 97%, 100% { transform: translateY(0px);}
}
@-moz-keyframes bounceY {
               0% { -moz-transform: translateY(-205px);}
               40% { -moz-transform: translateY(-100px);}
               65% { -moz-transform: translateY(-52px);}
               82% { -moz-transform: translateY(-25px);}
               92% { -moz-transform: translateY(-12px);}
               55%, 75%, 87%, 97%, 100% { -moz-transform: translateY(0px);}
}
@-webkit-keyframes bounceY {
               0% { -webkit-transform: translateY(-205px);}
               40% { -webkit-transform: translateY(-100px);}
               65% { -webkit-transform: translateY(-52px);}
               82% { -webkit-transform: translateY(-25px);}
               92% { -webkit-transform: translateY(-12px);}
               55%, 75%, 87%, 97%, 100% { -webkit-transform: translateY(0px);}
}


/*Magnifier*/
* {margin: 0; padding: 0;}
.magnify {width: 200px; margin: 50px auto; position: relative;}

/*Lets create the magnifying glass*/
.large {
   width: 250px; height: 250px;
   position: absolute;
   border-radius: 100%;

   /*Multiple box shadows to achieve the glass effect*/
   box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85),
   0 0 7px 7px rgba(0, 0, 0, 0.25),
   inset 0 0 40px 2px rgba(0, 0, 0, 0.25);

   /*Lets load up the large image first*/
   background: url('http://img1.promgirl.com/_img/PGPRODUCTS/1417606/1000/red-ivory-dress-DJ-1435-a.jpg') no-repeat;

   /*hide the glass by default*/
   display: none;
}
/*To solve overlap bug at the edges during magnification*/
.small { display: block; }

/*End of Magnifier*/

/*Multiple Columns*/
#main_index_info{-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
   -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
    -moz-column-gap: 20px; /* Firefox */
    column-gap: 20px;
    -webkit-column-rule: 2px solid #33CC66; /* Chrome, Safari, Opera */
    -moz-column-rule: 2px solid #33CC66; /* Firefox */
    column-rule: 2px solid #33CC66;
  }
 article#main_index_info h4 {
    -webkit-column-span: all; /* Chrome, Safari, Opera */
    column-span: all;
    font-family: 'Lobster', cursive;
  }
  article#main_index_info h3 {
    -webkit-column-span: all; /* Chrome, Safari, Opera */
    column-span: all;
    font-family: 'Lobster', cursive;
    background-color: #00b359;
  }
/*Hack*/
@-moz-document url-prefix() {
 body{
  background: pink;
 }
}
/*End Hack*/