html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
:focus {
    outline: 0;
}

body {
	margin: auto;
	width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.header img {
  float: left;
  width: 150px;
  height: 100px;
  background: #555;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}

aside {
	float: left;
	width: 300px;
    padding-top: 5%;
}
section{
    float:left;
    width: 750px;
   
} 
.content {
	float: right;
	width: 70%;
}

.clear {
	clear: both;
}
	/* Horizontal Navigation bar */
.hbar{
    padding-top: 50px;
}
.nav_hbar {
list-style-type: none;
overflow: hidden;
background-color:  #00b359;
width: 100%;
font-size: medium;
font-style: inherit;
padding-right: 20px;
padding-left: 20px;
text-align: center;
font-weight: bold;
font-size: 20px;
}
.nav_hbar li{
float:left;
text-align: center;
padding-right: 50px;
padding-left: 50px;


}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00b359;
}
.nav_bar li{
     float: left;
    padding-right: 0px;
    padding-left: 0px;
}
.hbar li {
    float: left;
    padding-right: 20px;
}

li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #4AE371;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #4AE371 ;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #33CC66 }

.dropdown:hover .dropdown-content {
    display: block;
}


li a {
    display: block;

    color: #000000;
    margin:8px;
    text-align: left;
    padding: 14px 16px;
    
}
li.search{
	display: inline-block;
	float: right;
	margin: 15px;
}
</li>

li a:hover {
    padding-right: 100px;
    background-color: #4AE371;
}

	/* Vertical Navigation Bar*/

 ul.nav_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #00b359;
    border:1px solid #000000;
}

.nav_bar li {
	float: none;
	border:1px solid #000000;
  }

li a {
    display: block;
    color: #000;
    padding: 30px 0 8px 16px;
    text-decoration: none;
    margin: 0;
     text-align: center;
     font-weight: bold;
     font-size: 20px;

}
.products{
float: left;
width: 1000px;
padding-bottom: 100px;
padding-left: 100px;
padding-top: 50px;
}

.products img{
    height: 200px;
    width: 300px;
}

#footer{

bottom:0;
width:100%;
height:60px;   
clear: both;
padding-top: 10px;
border-top: 1px solid #000;
text-align: center;

}

h3 {
    margin: 0;
}
.article {
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 20px;
}


article {
    float:left;

    width: 200px;
}
 article table {
    width: 250px;
    height: 150px;
    margin: 5px;

}
article img{
    height: 300px;
    width: 300px;
}
.contact{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 100px;
    padding-left: 250px;
    font-size: 20px;
    text-align: center;
}

.loginform{
    float: right;
}
.logout{
     float: right;
}
#registration-form{
    font-size: 20px;
    text-align: center;
    border:1px solid #000000;
    padding-bottom: 10px;
    padding-top: 10px;
}